nav.navbar.navbar-default.navbar-static-top
	div.container-fluid.nav-wrapper
			a(href="/profile")
				img.navbar-user(src="/assets/user_navbar.png")
			img.navbar-title(src="/assets/title_navbar.png")
			a(href="/chats")
				img.navbar-chat(src="/assets/chats_navbar.png")

ui-gmap-google-map(center='map.center', zoom='map.zoom', options='options', bounds="map.bounds")
	ui-gmap-marker(coords="markerMain.coords", options="markerMain.options", events="markerMain.events", idkey="markerMain.id")
	ui-gmap-marker(coords="markerSecondary.coords", options="markerSecondary.options", events="markerSecondary.events", idkey="markerSecondary.id")
	ui-gmap-marker(coords="markerThird.coords", options="markerThird.options", events="markerThird.events", idkey="markerThird.id")