h2 Map View

	ui-gmap-google-map(center='map.center', zoom='map.zoom', options='options', bounds="map.bounds")
		ui-gmap-marker(coords="marker.coords", options="marker.options", events="marker.events", idkey="marker.id")
		ui-gmap-markers(models="randomMarkers", coords="'self'", icon="'icon'")
