nav.navbar.navbar-default.navbar-static-top
	div.container-fluid.nav-wrapper
			a(href="/profile")
				img.navbar-user(src="/assets/user_navbar.png")
			img.navbar-title(src="/assets/title_navbar.png")
			a(href="/chats")
				img.navbar-chat(src="/assets/chats_navbar.png")

ui-gmap-google-map(center='map.center', zoom='map.zoom', options='options', bounds="map.bounds")
	ui-gmap-marker(coords="marker.coords", options="marker.options", events="marker.events", idkey="marker.id")
	ui-gmap-markers(models="randomMarkers", options="marker.options", coords="'self'", icon="'icon'")
