nav.navbar.navbar-default.navbar-static-top
	div.container-fluid.nav-wrapper
			a(href="/map")
				img.navbar-user(src="/assets/back.png")
			img.navbar-title(src="/assets/title_navbar.png")

div.chat(ng-repeat="chat in chats")
	a(href="/chat")
		img(src="{{ chat.image }}")
		h4 {{ chat.name }}
		span {{ chat.text }}
		div.time {{ chat.time }}