nav.navbar.navbar-default.navbar-static-top
	div.container-fluid.nav-wrapper
			a(href="/map")
				img.navbar-back(src="/assets/back.png")
			h2.username-chat Some Name
div.chat-background
	div.messages(ng-repeat="message in messages")
		span.message {{ message }}

	form.chat.button-bottom(ng-submit="submitMessage()")
		input.chatbox(type="text" placeholder="Start a conversation" ng-model="newMessage")
		button.send-message(type="submit") Send
