@import "bootstrap";

$phoneContainerWidth: 416px;
$phoneContainerHeight: 674px;

@mixin linear-gradient($color-stops...) {
    // @if is-direction($direction) == false {
    //     $color-stops: $direction, $color-stops;
    //     $direction: 180deg;
    // }
    $direction: 180deg;
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/montserrat/Montserrat-Hairline.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/assets/montserrat/Montserrat-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    min-height: 700px;
    font-family: "Montserrat";
    font-size: 1em;
}

.container {
    position: relative;
}

/** these are for the demo only */
#demo-wrap {
    background: url( '/assets/iphone.png' ) no-repeat;
    width: 461px;
    height: 960px;
    margin: 50px auto;
    padding-top: 122px;
    #main {
        width: $phoneContainerWidth;
        height: $phoneContainerHeight;
        padding: 0;
    }
}

#main {
    @include linear-gradient(#199e6c, #4da483);
    color: #fff;
}

// Profile Page
.profilePage {

    // background-color: red;
}
.activity-container{
    width: 190px;
    float: left;
    margin: 1px;
    border: 1px solid #54B28D;
    background: #54B28D;
    padding: 8px;
    border-radius: 2px;
    &.selected {
       background: #4ba886;
    }
}
.activity {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 90px;
    position: relative;
    &.selected {
       span {
        color: #000;
       }
    }
    span {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        vertical-align: bottom;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    &#hiking {
        background: url( '/assets/hiking.png' ) no-repeat center top;
    }
    &#biking {
        background: url( '/assets/biking.png' ) no-repeat center top;
    }
    &#climbing {
        background: url( '/assets/climbing.png' ) no-repeat center top;
    }
    &#running {
        background: url( '/assets/running.png' ) no-repeat center top;
    }
    &#tennis {
        background: url( '/assets/tennis.png' ) no-repeat center top;
    }
    &#walking {
        background: url( '/assets/walking.png' ) no-repeat center top;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.profile-name {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: "Montserrat";
}

.row{
    text-align: center;
    margin:0;
}

hr {
    margin: 0;
    border: 0;
    height: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.page-title{
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.button-bottom{
    width:100%;
    position: absolute;
    bottom: 0;
}

.user-profile-photo {
    width: 25%;
    border-radius: 100%;
    border: 3px white solid;
    margin: 0 auto;
    margin-top: 25px;
}

.user-location {
    color: rgba( 255, 255, 255, 0.502 );
    font-size: 16px;
    font-weight: bold;
}
// <End> Profile Page

.navbar-user{
    padding: 0;
    width: 10%;
}
.navbar-chat{
    width:15%;
}
.navbar-title{
    width:45%;
    margin-left: 68px;
    margin-right: 45px;
}

.nav-wrapper{
    padding: 15px;
}

.chat-background{
    background-color: #ecf4e9;
}

.navbar-back{
    width: 6%;
    float: left;
}

.angular-google-map-container {
    width: $phoneContainerWidth;
    height: $phoneContainerHeight;
}


// login page
.home #main {
    position: relative;
    background: url( '/assets/splash_background.jpg' );
    background-size: $phoneContainerWidth 738px;
    background-position: 0 -75px;
    .logo {
        margin-top: 150px;
        background: url( '/assets/logo.png' ) no-repeat center;
        background-size: 226px 91px;
        width: 226px;
        height: 91px;
        text-indent: -9999px;
        margin: 20px auto 0;
    }
    .login {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-indent: -9999px;
        width: $phoneContainerWidth;
        height: 88px;
        background: url( '/assets/facebook-login.jpg' ) no-repeat center;
        background-size: $phoneContainerWidth 88px;
        cursor: pointer;
    }
}

.chats #main {
    .navbar {
        @include linear-gradient(#199e6c, #4da483);
    }
    background: #ecf4e9;
    .chat {
        position: relative;
        border-bottom: 1px solid #ccc;
        height: 75px;
        a {
            color: #000;
            img {
                position: absolute;
                left: 15px;
                top: 10px;
                border-radius: 100%;
                border: 2px solid #fff;
            }
            h4 {
                font-family: 'Montserrat-Regular';
                position: absolute;
                font-size: 16px;
                top: 10px;
                left: 75px;
                margin: 0;
                text-transform: uppercase;
            }
            span {
                font-family: 'Montserrat-Regular';
                position: absolute;
                top: 40px;
                left: 75px;
                opacity: 0.5;
            }
            .time {
                font-family: 'Montserrat-Regular';
                position: absolute;
                right: 15px;
                top: 10px;
                color: #A6ABA4;
                text-transform: uppercase;
                font-size: 12px;
                font-family: arial;
            }
            &:hover {
                text-decoration: none;
                h4, span, .time {
                    text-decoration: none;
                }
            }
        }
    }
}