@import "bootstrap";

$phoneContainerWidth: 414px;
$phoneContainerHeight: 672px;

@mixin linear-gradient($color-stops...) {
    // @if is-direction($direction) == false {
    //     $color-stops: $direction, $color-stops;
    //     $direction: 180deg;
    // }
    $direction: 180deg;
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/montserrat/Montserrat-Hairline.otf');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    min-height: 700px;
    font-family: "Montserrat";
    font-size: 1em;
}

.container {
    position: relative;
}

/** these are for the demo only */
#demo-wrap {
    background: url( '/assets/iphone.png' ) no-repeat;
    width: 461px;
    height: 960px;
    margin: 50px auto;
    padding-top: 122px;
    #main {
        width: $phoneContainerWidth;
        height: $phoneContainerHeight;
        padding: 0;
    }
}

#main {
    @include linear-gradient(#199e6c, #4da483);
    color: #fff;
}

// Profile Page
.profilePage {

    // background-color: red;
}
.activity-container{
    padding:0;
}
.activity {
    width: 100%;
    margin-bottom: -5px;
}

.profile-name {
    font-size: 2em;
    text-align: center;
    // font-family: "Montserrat";
    // color: rgb( 255, 255, 255 );
    // line-height: 0.545;
}

.row{
    margin:0;
}

hr {
    margin: 0;
    border: 0;
    height: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.page-title{
    margin: 28px 24%;
    text-align: center;
}

.button-bottom{
    width:100%;
    position: absolute;
    bottom: 0;
}

.user-profile-photo {
    width: 35%;
    border-radius: 100%;
    border: 5px white solid;
    margin: 0 32%;
    margin-top: 25px;
}

.user-location {
    color: rgba( 255, 255, 255, 0.502 );
}
// <End> Profile Page

.angular-google-map-container {
    width: $phoneContainerWidth;
    height: $phoneContainerHeight;
}
