h1.page-title Choose Your Activities
hr
div.container-fluid
	div.row
		img(src='{{ picture }}' class="user-profile-photo")
	div.row
		h2.profile-name {{ name }}
		h5.user-location {{ location }}
	div.row
		div.activity-container(ng-repeat="activity in activities" ng-class="{ selected: isSelected( activity ) }")
			a.activity(id="{{ activity }}" ng-click="toggleSelection(activity)")
				span {{ activity }}
input.button-bottom(type="image" src="/assets/submit_button.png" value="Submit")