label.page-title CHOOSE YOUR ACTIVITIES
hr
div.container-fluid
    div.row
        img(src='{{ picture }}' class="user-profile-photo")
    div.row
        label.profile-name {{ name }}
        label.user-location {{ location }}
    div.row
        label.col-lg-4.activity-container(ng-repeat="activity in activities")
            input.activity(type="image" src="{{ activity.image }}" name="selectedActivities[]" value="{{ activity.label }}" ng-checked="selectedActivites.indexOf(activity.key) > -1" ng-click="toggleSelection(activity.key)")
            //{{ activity }}
input.button-bottom(type="image" src="/assets/submit_button.png" value="Submit")
