div.container-fluid
    div.row
        h2 Choose your activities
    hr
    div.row
        img(src='{{ picture }}' class="user-profile-photo")
        span.profile-name {{ name }}
        h3 {{ location }}

h3 What Activities Do You Like?
    label.activity(ng-repeat="activity in activities")
        input(type="checkbox" name="selectedActivities[]" value="{{ activity }}" ng-checked="selectedActivites.indexOf(activity) > -1" ng-click="toggleSelection(activity)")
        {{ activity }}

    div.actions
        input(type="submit" class='btn btn-primary' value="Submit")